name: Full Test Pipeline

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Unit & Integration Tests (Vitest)
        run: npm run test:ci

     # - name: Build project
     #   run: npm run build

      - name: Start preview server
        run: npm run dev &

      - name: Run Cypress E2E Tests
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
